/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-color-0 {
    background-color: rgb(220, 53, 6) !important;
    color: #fff !important;
}

.mat-snack-bar-color-1 {
    background-color: rgb(25, 135, 84) !important;
    color: #fff !important;
}