<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="" class="title-tooblar">CertiShop</span>
    <span class="spacer-toolbar"></span>
    <button mat-icon-button routerLink="carrito" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>add_shopping_cart</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>